* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue-50: hsl(225, 100%, 98%);
    --gray-600: hsl(224, 23%, 55%);
    --blue-950: hsl(223, 47%, 23%);
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);
    --hover-blue:hsl(245, 83%, 68%);
}

body {
   
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--blue-100);
    background-image:url('./images/pattern-background-desktop (1).svg');
    /* background-position: top;
    background-size: cover;
    background-position: 1 3; */
    background-repeat: no-repeat;
    background-size: contain;
    display:flex;
    /* color: hsl(223, 47%, 23%); */
    font-size: 16px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
   
}

.container{

    /* display: block; */
    
    background-color: var(--blue-50);
    width: 100%;
    /* height: 600px; */
    border-radius: 20px;
    max-width: 1440px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 20px 40px var(--blue-950);

}
.container img {
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 40px; */
    width: 100%;
    display: block;
    /* height: 100px; */
}
h1 {
    color: var(--blue-950);
    font-weight:900 ;
    font-size: 2rem;
    margin-bottom: 16px;
    padding: 2.5rem 2rem;
}
p {
    color: var(--gray-600);
    font-weight: 500;
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 16px; 
    padding: 2.5rem 2rem;
}

.plan {
    padding: 1%;
    background-color: #f4f4f4;
    width: fit-content;
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
}
.plan img {
    width: 50px;
    height: 50px;

}
.button {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.payment a {
     display: block;
     background-color: aqua;
     color: black;
     text-decoration: none;
     padding: 12px;
     border-radius: 10px;
     font-weight: 600;
     
}
.cancel-order a {

    display: block;
     /* background-color: aqua; */
     color: black;
     text-decoration:none;
     padding: 12px;
     border-radius: 10px;
     font-weight: 600;
     
}

.cancel-order:hover{

}
