
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f5f5f5;
    display: flex;
    flex-direction: column;

}
a{
    text-decoration: none;
    color: black;
    line-height: 1;
}
ul{
    list-style: none;
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}
/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear{
    display: none;
    width : 0;
    height: 0;
}
/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* navbar */
nav{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
/* logo , my account and shopping cart */
nav .navbar-top{
   max-width: 1600px;
   padding: 10px;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between; 

}
.navbar-top .logo{
    position: absolute;
    top: 30px;
    left: 100px;
    width: 150px;
    height: 75px;
}
#menuButton{
    width: 45px;
    height: 40px;
    cursor: pointer;
    color: #49989e;
    background: transparent;
    border: none;
    display: none;
    font-size: 1.5rem;
}
#menuButton:focus {
    outline: none;
}
#menuButton:hover {
    color: #0d3c3f;
}
/* container of my account and shopping cart */
.navbar-top > div {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}
/* My account text*/
.account-text {
    font-size: 0.9rem;
    padding: 10px;
}
.accountButton {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.accountButton:focus {
    outline: none;
}
.navbar-top .shopping-cart {
    margin-left: 10px;
    font-size: 1.4rem;
}

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.cart-logo {
    cursor: pointer;
}

.cart-logo:hover, .account:hover * {
    color: #0e5e53;
}
.productOnCart {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
    animation: fade 1s;
}
.productOnCart::-webkit-scrollbar{
    display: none;
}
@keyframes fade {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}
.productOnCart::-webkit-scrollbar{
    width: 0;
    background: transparent;

}
.hide {
    display: none;
    visibility: none;
}
.productOnCart ul{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.productOnCart #buyItems{
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}
.productOnCart img {
    width: 90px;
}

.productOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}
.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #c24c37;
    cursor: pointer;
}

.top button:hover {
    color: #e40505;
}

.top h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
.productOnCart > .checkoutButton {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #297075;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}

.overlay {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

.stopScrolling {
    height: 100vh;
    overflow: hidden;
}

.buyItems h6 {
    margin-bottom: 10px;
}

.buyItems button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}
.buyItems button:active {
    color: #96c8cc;
}

.buyItems > div {
    padding: 0 20px;
}

.productOnCart .empty-cart {
    justify-self: center;
    margin: 150px auto;
}
.price {
    color: #dd3333;
    margin-top: 10px;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
}

.navbar {
    max-width: 1600px;
    width: 88vw;
    display: flex;
    flex-direction: row;
    position: relative;
}
.search-bar form {
    position: absolute;
    right: 17px;
    top: 27.5px;
    transform: translate(0%, -50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #555;
    padding: 5px;
}
.search-bar > form input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    line-height: 20px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 0.9rem;
    border-radius: 20px;
    padding: 0 20px;
}
.search-bar form:hover{
    width: 300px;
    cursor: pointer;
}
.search-bar form:hover input{
    display: block;
}
.search-bar input::placeholder {
    color: #242424;
    font-size: 0.8em;
}

.search-bar > form:hover #search-icon {
    background: #07051a;
    color: white;
}

#search-icon {
    box-sizing: border-box;
    padding: 8px;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1rem;
    transition: all 1s;
}
#search-icon:active, #search-icon:focus {
    outline: none;
}

.links {
    position: relative;
    display: inline-block;
    margin: auto;
}

.links ul {
    display: flex;
    flex-direction: row;
}
ul .nav-links {
    cursor: pointer;
    color: #333333;
    text-align: center;
    padding: 15px;
}

.nav-links > a:visited, .navbar-top > a:visited {
    color: #333333;
}

.link {
    text-align: center;
    font-size: 0.9rem;
}
.nav-links:hover .link {
    color: #24738b;
    text-decoration: underline;
}

.navbarResponsive .links {
    margin: 5px;
}
.navbarResponsive ul {
    flex-direction: column;
    text-align: left;
}

.navbarResponsive .search-bar form {
    position: relative;
    margin-left: 50px;
}

.navbarResponsive .nav-links {
    text-align: left;
}

.navbarResponsive .nav-links > .link {
    z-index: 15;
    color: white;
}
#headerSlide {
    background-color: #49989e;
    height: 55vh;
    position: relative;
}

#hearderSlide .ms-content {
    margin: 0 1%;
    white-space: nowrap; /* required */
    overflow: hidden; /* required */
    height: 100%;
}

#hearderSlide .item {
    display: inline-block;
    width: 33.3333%; /* required * Determines number of visible slides */
    position: relative; /* required */
    vertical-align: top; /* required */
    overflow: hidden; /* required */
    height: 100%; /* recommended */
    white-space: normal;
}

.item img {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}

#hearderSlide .ms-controls .ms-left {
    border: none;
    left: 10px;
}
#hearderSlide .ms-controls .ms-right {
    border: none;
    right: 10px;
}

.ms-right:focus,.ms-left:focus {
    outline: none;
}

.ms-right:active,.ms-left:active {
    color: #fff;
    background-color: #49989e;
}

#hearderSlide .ms-right {
    position: absolute;
    font-weight: bolder;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#hearderSlide .ms-left {
    font-weight: bolder;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.main-section {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}
.product-container {
    max-width: 1600px;
    margin: auto;
    width: 88vw;
    position: relative;
}
.main-section h3 {
    font-size: 1.3rem;
    padding: 50px;
}
