* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: black;
    margin: 0%  5% 0% 5% ;
   
}

.img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 50%;

}

.header {
    text-align: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    
    
}
.nav {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 20%;

}
.nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    
    

}
.nav a:hover {
    color: rgb(60, 60, 240);
    text-decoration: underline 5px solid;
    cursor: pointer;
    
}

.landing-page {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.hero {
    /* background-color: rgb(55, 45, 207); */
   
    text-align: left;
    color: black;
    margin-top: 5%;
    height: 50%;
    width: 50%;

    
    
}
.hero h1 {
    
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: bold;

}
.hero p {
    
    font-size: 20px;
    margin-bottom: 40px;
}
.hero a {

    padding: 10px 20px;
    background-color: rgb(60, 60, 240);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 40px;
    
}
.hero a:hover {
    background-color: gray;
    color: black;
    text-decoration: none;
}

.hero-img {
    /* background-color: aqua; */
    
    margin-top: 5%;
    height: 50%;
    width: 50%;
   
}
.hero-img img {
    width: 100%;
    height: 20%;
    border: solid rgb(60, 60, 240);
    border-radius: 10px;
    
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.features {
    text-align: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    
}
.features h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    
}
.features ol {
    list-style: none;
    padding: 0;
    /* font-weight: bold; */
    /* display: flex; */
    /* gap: 20px; */
}

.features ol li h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.features ol li p {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: none;
}
.inscription {
    text-align: none;
    margin-top: 5%;
    margin-bottom: 5%;
}
.inscription h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.inscription form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
}
.inscription form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1.5px solid rgb(60, 60, 240);
}
.inscription form button {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(60, 60, 240);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.inscription form button:hover {
    background-color: gray;
    color: black;

}
.inscription form label {
    font-size: 20px;
    color: black;
}
/* .inscription form input:focus {
    outline: none;
    border-color: rgb(60, 60, 240);
    box-shadow: 0 0 5px rgb(60, 60, 240);
} */
 .inscription form input:hover {
    outline: none;
    border-color: gray;
    
}
